html {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    /* The image used */
    background-image: url("../images/background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: black;
    text-shadow: 3px 3px 1px #5D6D7E;
}

#pop {
    font-size: 36px;
}

img {
    height: 350px;
    display: block;
    margin: 0 auto;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}